/* Colors and fonts */
body {
	background: darkslategrey;	
	color: rgb(50, 50, 50);
	font-family: helvetica ;
	font-size: 16px;
}


#logo {
  width: 30%;
  border-radius: 50%;
}



h1,h2,h3{font-family: Courier ;
	box-shadow: 0px;10px;30px
Border : 1px solid black;
Border-radius: 25% 

}

h1 {
	color: darkgreen;
	font-family: Courier ;
	font-size: 32px;
    box-shadow: 0px;10px;30px
    border-radius: 60px;
}

h2 {
	color: rgb(100, 100, 100);
	font-family: Courier;
	font-size: 24px;
	font-weight: lighter;
}

a{text-decoration: yes;
color: darkgreen;}
a:hover{
	color: pink;


}

div{
background: white;
color: 2px solid black;
margin: 10px;
}

.container{
	background: lightgrey ;
    padding: 60px;
    margin: 2% auto;
    box-shadow: 0;10;30
    Border : 1px solid black;
	Border-radius: 25%;
    width: 700px;
}